.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.rightZoomed{
  width: 50%;
  float: right;
  border: 2px solid #003B62;
  font-family: verdana;
  background-color: #B5CFE0;
  padding-left: 10px;
  float: right;

}
.leftZoomed{
  position:relative;
  width: 20%; 
  float:left;
  padding-left:5.25rem;
}
.zoomedpic{
  cursor: pointer; 
  
}
.zoomedprice{
  color: #685206; font-family: 'Helvetica Neue', sans-serif; font-size: 14px; line-height: 24px; margin: 0 0 24px; text-align: justify; text-justify: inter-word;
}
.zoomedtitle{
 color: #7c795d; font-family: 'Trocchi', serif; font-size: 45px; font-weight: normal; line-height: 48px; margin: 0;
}
.zoomeddescription{
  color: #685206; font-family: 'Helvetica Neue', sans-serif; font-size: 14px; line-height: 24px; margin: 0 0 24px; text-align: justify; text-justify: inter-word;
}
.zoomeddiscount{
  color: #685206; font-family: 'Helvetica Neue', sans-serif; font-size: 14px; line-height: 24px; margin: 0 0 24px; text-align: justify; text-justify: inter-word;
}
.blue-color {
  color:blue;

    transform: scale(2);
  
}

@media (min-width: 769px) {
  .main-navigation .main-nav ul li.wc-menu-item a {
      font-size: 20px;
  }
}
.fa.fa-shopping-cart{
  font-size: 17.5px;
  

  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.myDiv {
  border: 5px outset red;
  background-color: lightblue;
  text-align: center;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
